###########################
# Build outputs
############################
build/
.gradle/
app/build/
**/build/

############################
# Android Studio / IntelliJ
############################
.idea/
*.iml
*.iws
*.ipr
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/modules.xml
.idea/navEditor.xml
.idea/deploymentTargetDropDown.xml
**/*.lock

############################
# Local configs (nunca commitar!)
############################
local.properties
keystore.properties
google-services.json
*.jks
*.keystore

############################
# Kotlin / Java
############################
*.class
*.jar
*.war
*.aar

############################
# Capturas e arquivos gerados
############################
captures/
*.orig
*.rej

############################
# Sistema operacional
############################
.DS_Store
Thumbs.db
Desktop.ini

############################
# NDK / CMake (se usar C++)
############################
.externalNativeBuild/
.cxx/